---
layout: page.vto
title: Contact
---

<div class="flex flex-col gap-4 justify-center">
  <p class="text-lg font-semibold">You can find me on the following platforms:</p>
  <ul class="list-disc text-lg">
      <li><span class="font-bold">BlueSky:</span> <a class="underline" href="https://bsky.app/profile/charlieroth.bsky.social">charlieroth.bsky.social</a></li>
      <li><span class="font-bold">Nostr:</span> <a class="italic" href="https://snort.social/p/npub1mjnfeclrm83z6msc8elz2p8m3mynr5u7qcy293e8u0wdgkc5jtdqr947hw">npub1mjnfeclrm83z6msc8elz2p8m3mynr5u7qcy293e8u0wdgkc5jtdqr947hw</a></li>
      <li><span class="font-bold">Urbit:</span> <a class="italic" href="https://bsky.app/profile/charlieroth.bsky.social">~waltyr-dacmus</a></li>
      <li><span class="font-bold">GitHub:</span> <a class="underline" href="https://github.com/charlieroth">charlieroth</a></li>
      <li><span class="font-bold">LinkedIn:</span> <a class="underline" href="https://www.linkedin.com/in/charles-thomas-roth/">charles-thomas-roth</a></li>
  </ul>
</div>