---
layout: page.vto
title: Notes
---

<div class="flex flex-col gap-4 justify-center">
    <h1 class="text-4xl font-bold">Notes</h1>
    <ul class="list-disc">
        <li>
            <a class="text-lg font-semibold underline" href="/notes/the-rise-fall-and-rebirth-of-the-open-web/">The Rise, Fall, and Rebirth of the Open Web</a>
        </li>
    </ul>
</div>
